* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.dark-bg {
    color: #F9FAF8;
    background-color: #1F2937;
}

.blue-bg {
    color: #F9FAF8;
    background-color: #3882F6;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.font-24 {
    font-size: 24px;
}

.font-18 {
    font-size: 18px;
}

.font-48-extra {
    font-size: 48px;
    font-weight: 800;
}

.font-36-extra {
    font-size: 36px;
    font-weight: 800;
}

.font-36-li {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.text-center {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 232px;
    margin-right: 232px;
}

#header {
    width: 100%;
    height: 534px;
    padding-left: 208px;
    padding-right: 208px;
    padding-top: 18px;
}

#nav {
    display: flex;
    gap: 23px;
    list-style: none;
}

#main {
    display: flex;
    padding-top: 120px;
}

#introduction {
    width: 49%;
    padding-right: 50px;
}

#main #signup {
    border-radius: 10px;
    border: none;
    margin-top: 9px;
    padding: 7px 35px;
}

#information {
    color: #1F2937;
    background-color: #F9FAF8;
    height: 500px;
}

#info-header {
    padding-top: 48px;
}

#img-gp {
    padding-top: 48px;
    padding-left: 285px;
    padding-right: 285px;
}

#img-gp div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-gp p {
    line-height: 21px;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

#quote {
    color: #1F2937;
    background-color: #E5E7EB;
    height: 428px;
    padding-top: 128px;
    padding-left: 342px;
    padding-right: 310px;
}

#author {
    font-weight: 600;
    text-align: end;
    padding-right: 26px;
}

#call-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1022px;
    height: 150px;
    margin-top: 100px;
    padding-top: 4px;
    padding-left: 121px;
    padding-right: 121px;
    line-height: 26px;
    border-radius: 8px;
}

#call-action h3 {
    letter-spacing: 1.2px;
}

#call-action button {
    border-radius: 8px;
    border: 1px solid #F9FAF8;
    padding: 6px 34px;
}

#footer {
    width: 1440px;
    margin-top: 100px;
    padding: 39px 0 39px 60px;
    text-align: center;
}